anytree>=2.12.1
beautifulsoup4>=4.12.2
chin-dict>=0.1.4
dragonmapper>=0.2.6
dragonmapper>=0.2.6
hanziconv>=0.3.2
hanzidentifier>=1.2.0
hanzipy>=1.0.4
pinyin>=0.4.0
readchar>=4.0.5
regex>=2023.10.3
unicodeblock>=0.3.1
Levenshtein>=0.23.0